html {
    height: 100%;
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    /*字体抗锯齿,使用后字体看起来会更清晰舒服*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: calc(100%);
    min-width: 1920px;
    background-color: #fafafa;
    color: #333;
    font-size: 14px;
}
ul, ol, p, h1, h2, h3, h4, h5, h6, button, input {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    border: none;
}
img{
    vertical-align: top;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.card{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
